/* style.css */
*{ margin: 0; padding: 0;}
body{
	font-family: "맑은 고딕", sans-serif;
	font-size: 12px;
	color: #444;
}
ul{ list-style-type: none;}
#page{
	width: 980px;
/*	background: #ccc;*/
	margin: 0 auto;
}
header #logo{
	float: left;
	margin: 15px 0 0 20px;
}
header #moto{
	float: left;
	margin: 45px 0 0 20px;
}
header #top_menu{
	float: right;
	margin-top: 50px;
}
header #top_menu li{ 
	display: inline;
	font-size: small;
}
.clear{ clear: both;}
.box{ 
	margin-top: 20px;
	height: 20px;
}
header nav{ 
	border-top: 1px solid #ccc;
}
header nav ul{
	margin-top: 25px;
}
header nav li.item{
	display: inline;
	margin-left: 40px;
}
header nav li:first-child{
	margin-left: 0;
}

/* 메인 > 배너 섹션*/
main{ margin-top: 10px;}
#banner{
	background: #00a8ab;
}
#banner li{
	display: inline-block;
	margin-left: 30px;
}

/* 메인 > 고객센터, 공지사항,faq 영역*/
#info{ 
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}
#info #customer, 
#info #notice, 
#info #faq{
	width: 300px; height: 111px;
/*	border: 1px solid red;*/
	float: left;
	margin-left: 40px;
	box-sizing: border-box;
}
#info #customer{
	margin-left: 0;
}
#info #customer .title{
	float: left;
	width: auto;
}
#info #customer .more{
	float: right;
	width: auto;
}

#info #notice .title{
	float:left;
}
#info #notice  .more{
	float: right;
	margin-bottom: 5px;
}
#info #notice  ul{
/*	color: #666;*/
	font-size: small;
/*	border: 1px solid red;*/
	overflow: hidden;
}
#info #notice  ul li{
	line-height: 1.6em;
}
#info #notice ul .subject{
	float: left;
}
#info #notice ul .date{
	float: right;
}

/* 메인 > 3.사이트 맵 */
#sitemap{
	border-top: 1px solid #ccc;	
	padding-top: 20px;
	padding-left: 10px;
}
#sitemap > div{
/*	border: 1px solid red;*/
	height: 140px;
	float: left;
	margin: 0px 12px 0 15px;
}
#sitemap h3{
	font-size: 15px;
	color: #12b9b2;
	margin-left: 16px;
	margin-bottom: 5px;
}
#sitemap ul{
	list-style-image: url(../images/blue_dot.gif);
}
#sitemap ul li{
	line-height: 1.6em;
}

footer{
	border-top: 3px solid #06b5b8;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #666;
}
footer #address{
	float: left;
}
footer #link{
	float: right;
}
footer #footer_menu li{
	line-height: 1.6em;
}
footer #company_info{ margin-top: 20px;}
footer #company_info li{
	line-height: 1.4em;
}
footer #copyright{
	font-size: 11px;
	color: #888;
}
footer #link h3{
	font-size: 16px;
	color: #06b5b8;
}
footer #link select{
	font-size: 11px;
	width: 100px; height: 18px;
	margin-left: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
}
footer .icons{
	text-align: right;
}

/* 서브 페이지 */
aside{
	width: 180px;
	float: left;
}
aside h3{
	margin: 5px;
	border-bottom: 3px solid #0dc2c5;
}
/* 사이드바 메뉴 버튼 */
aside ul{ margin-bottom: 30px;}
aside ul .col1{
	float: left;
	font-size: 15px;
}
aside ul .col2{
	float: right;
	font-size: 6px;
}
aside ul li{ 
	clear: both;
	overflow: hidden;
	padding: 12px;
	border-bottom: 1px solid #ccc;
}
aside ul li:last-child{
	border-bottom: 3px solid #ccc;
}
#customer{
	
}
#customer img{ width: 180px;}

#page3-1 section{
	width: 770px;
/*	background: #ccc;*/
	float: right;
}
#page3-1 section h1{
	font-size: 1.7em;
	margin-bottom: 10px;
}
#page3-1 section > .product{
	border-top: 2px solid #0dc2c5;
	margin-top: 20px;
	padding-top: 15px;
	padding: 15px;
}




